@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }

    .tab-container {
        margin-top: 2rem;
        width: 80%;
    }

    .tab {
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .parameter-container {
        flex-direction: column;
        align-items: center;
    }

    .parameter {
        width: 100%;
    }
}